.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    display: flex;
    justify-content: space-between;
}

.header__nav-item{
    text-decoration: none;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}