.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__nav{
    display: flex;
    justify-content: space-between;
}

.header__nav-item{
    text-decoration: none;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.header__nav-item a{
    text-decoration: none;
    color: rgb(54, 131, 54);
    /*background-color: rgb(54, 131, 54);*/
    border-radius: 2px;
    padding: 4px;
    font-weight: bold;
}

.header__nav-item a:hover{
    color: rgb(64, 189, 64);
    border-bottom: 2px solid rgb(64, 189, 64);
}